<!DOCTYPE html>
<html>
  <head>
    <title>Trivia - Admin</title>
  </head>
  <body>
    <h1>Teams</h1>

    <table>
      <thead>
        <tr>
          <th>Team Name</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </body>
</html>
