<!DOCTYPE html>
<html>
  <head>
    <title>Trivia - Sign-in</title>
  </head>
  <body>
    <p>Welcome, please sign in.</p>
    <p>There are <%= teamCount %> other teams already registered.</p>
  </body>
</html>
